<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scala Server >> Index</title>
</head>
<body>
    <div id="content">
        <h2>Monadic Scala Server</h2>
        <p><a href="test1"><h4>Test 1. CSS</h4></a></p>
        <p><a href="/static/piesek.jpg"><h4>Test 2. IMG</h4></a></p>
        <p><a href="/static/server.zip"><h4>Test 3. ZIP</h4></a></p>
        <p><a href="test4?name=ABC"><h4>Test 4. ARG</h4></a></p>
        <p><a href="test5"><h4>Test 5. ERR</h4></a></p>
        <p><a href="test6"><h4>Test 6. MP3</h4></a></p>
        <p><a href="counter"><h4>Test 7. Cookie counter</h4></a></p>
    </div>
    <div id="footer">
        Copyright 2019 Andrzej Swatowski, Frederic Grabowski.
    </div>
</body>
</html>
